{% extends 'base.html.twig' %}

{% block title %}Article3 index{% endblock %}

{% block body %}
    <h1>Article3 index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Descr</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article3 in article3s %}
            <tr>
                <td>{{ article3.id }}</td>
                <td>{{ article3.titre }}</td>
                <td>{{ article3.descr }}</td>
                <td>
                    <a href="{{ path('app_article3_show', {'id': article3.id}) }}">show</a>
                    <a href="{{ path('app_article3_edit', {'id': article3.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_article3_new') }}">Create new</a>
{% endblock %}
